<div class='winner'>
<h1>WINNER: <%=@winner.name %></h1>
<img src='<%="#{@winner.image_url}"%>'/>











<div class='credits'>
Powered by GifBot - BubHack March 2017
<br/>
Lisa Plesko & Jon Kolnik
</div>
</div>
